AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=55806a4a8998
AWS_SECRET_ACCESS_KEY=eec091759e6f31d9b80
AWS_ENDPOINT=https://pico-bucket.kkr.lic.cloud
AWS_S3_BUCKET_NAME=ticon
TRANSCODING_API_URL=http://192.16.12.2:9080/api/v1/assets

# Specify the path to the video you want to upload
VOD_FILE_PATH=./sample.mp4
# Asset ID prefix or name
ASSET_ID=vod-TT217
